<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CRUD-App-Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>InsertStudentServlet</display-name>
    <servlet-name>InsertStudentServlet</servlet-name>
    <servlet-class>com.controller.InsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStudentServlet</servlet-name>
    <url-pattern>/insertStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudentServlet</display-name>
    <servlet-name>ListStudentServlet</servlet-name>
    <servlet-class>com.controller.ListStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudentServlet</servlet-name>
    <url-pattern>/listStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentServlet</display-name>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <servlet-class>com.controller.UpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentServlet</servlet-name>
    <url-pattern>/updateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentServlet</display-name>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <servlet-class>com.controller.DeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentServlet</display-name>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.controller.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/editStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/insertUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServlet</display-name>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgetPassword.ForgetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServlet</servlet-name>
    <url-pattern>/forgetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.controller.ForgetPassword.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/resetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtpServlet</display-name>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <servlet-class>com.controller.ForgetPassword.VerifyOtpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtpServlet</servlet-name>
    <url-pattern>/verifyOtpServlet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.controller.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/registration.jsp</url-pattern>
    <url-pattern>/listStudentServlet</url-pattern>
    <url-pattern>/editStudentServlet</url-pattern>
    <url-pattern>/updateStudentServlet</url-pattern>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </filter-mapping>
  
  
</web-app>